<div class="container">
	<h2>Home</h2>
	<form ng-submit="uploadImage()">
		<div class="form-group">
                        <label for="files" class="col-md-3 control-label">Upload Images</label>
                        <div class="col-md-6"> 
                          <div class="btnedit"> 
                              <button type="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-multiple="true" ngf-accept="'image/*'" ngf-max-size="5MB" ngf-resize="{width: 250, height: 250, type: 'image/jpeg'}">Upload Pictures</button>
                          </div>
                            <div class="editicon"> <i class="fa fa-upload" aria-hidden="true">  <span style="font-weight: 500">Upload Images</span></i></div> 
                    </div>
        </div>
        <button type="submit">Upload</button>
	</form>
</div>